<html>
  <head>
    <title>Sample HTML app</title>
    <link href="styles.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <h1>Welcome to Last page!</h1>
    <ol> What people are doing
        <li>Wearing Masks
        <li>Keeping distance
        <li>Web classes
        <li>Staying at home
        <li>NOT trying to travel
    </ol>
    <h2>Navigation bar:</h2>
    <a href = "/">Home Page</a>
    <a href = "/Second">Second Page</a>
    <a href = "/Third">Third Page</a>
    <a href = "/about">Last Page</a>
  </body>
</html>

